<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatApp</title>
    <link rel="stylesheet" href="/css/stylebundle.css" asp-append-version="true" />
</head>

<body>
    <div class="container-fluid">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="/js/scriptbundle.js" asp-append-version="true" defer></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>