<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatApp</title>
    <link rel="stylesheet" href="/styles/stylebundle.css" asp-append-version="true" />
</head>

<body>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted fixed-bottom pb-3">
        <div class="container">
            <div class="text-center">
                &copy; @DateTime.Now.Year - ChatApp
            </div>
        </div>
    </footer>

    <script src="/scripts/scriptbundle.js" asp-append-version="true" defer></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>