@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>Jelszó megváltoztatása</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<form id="change-password-form" method="post" class="py-5">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true"
                placeholder="Jelenlegi jelszó" />
            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true"
                placeholder="Új jelszó" />
            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true"
                placeholder="Jelszó mégegyszer" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="py-3">
            <button type="submit" class="btn btn-primary rounded-5">Jelszó frissítése</button>
        </div>
    </div>
</form>

@section Scripts {
@* <partial name="_ValidationScriptsPartial" /> *@
}
