@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h3>E-mail adatok módosítása</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<form id="email-form" method="post" class="py-5">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="d-flex flex-column justify-content-center align-items-center">
        @if (Model.IsEmailConfirmed)
        {
            <div class="mb-3">
                <div class="position-relative">
                    <input asp-for="Email" class="form-control" disabled placeholder="Régi e-mail" />
                    <span
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success text-light">
                        &check;
                    </span>
                </div>
            </div>
        }
        else
        {
            <div class="mb-3">
                <input asp-for="Email" class="form-control" disabled placeholder="E-mail" />
                <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail"
                class="btn btn-link">Megerősítő e-mail küldése</button>
            </div>
        }
        <div class="mb-3">
            <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true"
                placeholder="Új e-mail" />
            <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
        </div>
        <div class="py-3">
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail"
                class="btn btn-lg btn-primary btn-rounded">E-mail megváltoztatása</button>
        </div>
    </div>
</form>

@section Scripts {
@* <partial name="_ValidationScriptsPartial" /> *@
}
