@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>Személyes adatok kezelése</h3>
<div class="pt-5">
    <p>Fiókja olyan személyes adatokat tartalmaz, amelyeket Ön adott meg nekünk. Ezen az oldalon letöltheti
        vagy
        törölheti adatait.</p>
    <strong>Az adatok törlése véglegesen eltávolítja fiókját, mely után már nem állítható helyre.</strong>
</div>
<div class="d-flex pt-5" style="gap: 0.5rem;">
    <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger rounded-5">Törlés</a>
    <form id="download-data" asp-page="DownloadPersonalData" method="post">
        <button class="btn btn-primary rounded-5" type="submit">Letöltés</button>

    </form>
</div>

@section Scripts {
@* <partial name="_ValidationScriptsPartial" /> *@
}
