@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_BeforeLoginLayout";
}

<div class="d-flex align-items-center justify-content-center" style="min-height: 85vh;">
    <div
        class="d-flex flex-column justify-content-center align-items-center text-center shadow p-5 bg-body border-radius-1">
        <div class="icon-large text-warning p-3">
            <i class="bi bi-patch-question"></i>
        </div>
        <div class="pb-5">
            <h1>Elfelejtetted a jelszavad?</h1>
            <h2>Add meg az e-mail címed!</h2>
        </div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-5">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"
                    placeholder="E-mail cím" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="mt-5">
                <a href="/" class="btn btn-primary rounded-5 text-white text-decoration-none">Vissza</a>
                <button type="submit" class="btn btn-primary rounded-5">Küldés</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
@* <partial name="_ValidationScriptsPartial" /> *@
}
