html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.chat-app {
    display: flex;
    flex-wrap: nowrap;
}

.col-chat-left {
    min-width: 220px;
    max-width: 360px;
    padding-right: 5px;
    margin-left: -7px;
}

.col-chat-right {
    max-width: 360px;
    padding-left: 5px;
}   

.col-chat-center {
    min-width: 325px;
}

.col-chat-left, .col-chat-right, .col-chat-center {
    /* margin-left: -5px;
    margin-right: -5px; */
    flex: 1 0 0%;
    height: 100vh;
}

.chat {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.accordion-body {
    padding: 0;
}

.accordion-item {
    border: none;
}

.accordion-header {
    border-radius: 8px;
    background-color: transparent;
    transition: background-color 0.2s;
}

.accordion-header:hover {
    background-color: rgba(0, 0, 0, .05);
    transition: background-color 0s;
}

.accordion-header:active {
    background-color: rgba(0, 0, 0, .1);
    transition: background-color 0s;
}

.accordion-item .accordion-button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-weight: 500;
    padding: 0.75rem;
}

.accordion-item .accordion-button, .accordion-button::after {
    color: var(--bs-body-color);
}

button.btn {
    background-color: transparent;
    transition: background-color 0.2s;
}

button.btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transition: background-color 0s;
}

button.btn:active {
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 0s;
}

.btn-check:focus+.btn,
.btn:focus {
    outline: none;
    box-shadow: none;
}

button.btn-primary {
    background-color: #0d6efd;
    transition: background-color 0.2s;
}

button.btn-primary:hover {
    background-color: #4d4dff;
    transition: background-color 0s;
}

button.btn-primary:active {
    background-color: hsl(240, 100%, 45%);
    transition: background-color 0s;
}

.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-avatar {
    border-radius: 18px;
    width: 36px;
    height: 36px;
    padding: 0;
}

.btn-avatar {
    border-radius: 18px;
    width: 36px;
    height: 36px;
    padding: 0;
}

.btn-icon {
    font-size: large;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    color: #0d6efd;
    background-color: transparent;
    transition: background-color 0.2s;
}

.btn-icon > i {
    margin: 0;
    vertical-align: middle;
}

.btn-icon:hover {
    color: #0d6efd;
    background-color: rgba(0, 0, 0, 0.05);
    transition: background-color 0s;
}

.btn-profile {
    padding: 0.2rem;
}

.btn-accordion {
    width: 100%;
    height: 44px;
    border-radius: 8px;
    font-weight: 500;
    text-align: left;
    display: flex;
    align-items: center;
}

.btn-accordion i {
    font-size: large;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    text-align: center;
    margin-right: 0.5rem;
    background-color: rgba(0, 0, 0, 0.05);
}

input:not(:placeholder-shown) .message-input {
    
}

input:placeholder-shown .message-input {
    
}

.search-input-group {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}

.search-input-group input.form-control,
.search-input-group input.form-control:focus {
    background-color: transparent;
}

.search-input-group .btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-top-left-radius: 100% !important;
    border-bottom-left-radius: 100% !important;
}

.avatar-small {
    float: left;
    border-radius: 18px;
    width: 36px;
    height: 36px;
}

.avatar-large {
    border-radius: 36px;
    width: 72px;
    height: 72px;
}

.tooltip-inner {
    box-shadow: 2px 2px 4px 0px rgba(161, 161, 161, 1);
}

.bs-tooltip-right .arrow::before {
    box-shadow: 2px 2px 4px 0px rgba(161, 161, 161, 1);
}

.popover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    min-width: 340px;
}

.popover-body {
    padding: 0.5rem;
}

.popover-menu-list-item {
    display: flex;
    align-items: center;
    height: 44px;
    border-radius: 8px;
    padding-left: 0.5rem;
    background-color: transparent;
    transition: background-color 0.2s;
}

.popover-menu-list-item:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.05);
    transition: background-color 0s;
}

.popover-menu-list-item:active {
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 0s;
}

.popover-menu-list-item .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: large;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #e8f1f3;
}

.popover-menu-list-item span {
    font-size: .9375rem;
    font-weight: 500;
    padding-left: 1rem;
    padding-right: 1rem;
}


/* Innen a sablon következik */
.card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}

.people-list .chat-list li {
    padding: 10px;
    list-style: none;
    border-radius: 8px;
    background-color: transparent;
    transition: background-color 0.2s;
}

.people-list .chat-list li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .05);
    transition: background-color 0s;
}

.people-list .chat-list li.active {
    background-color: rgba(0, 0, 0, .05);
}

.people-list .chat-list li:active {
    background-color: rgba(0, 0, 0, .1);
    transition: background-color 0s;
}

.people-list .chat-list li .name {
    font-size: 15px
}

.people-list .chat-list img {
    width: 48px;
    border-radius: 50%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    float: left;
    padding-left: 8px
}

.people-list .status {
    color: #999;
    font-size: 13px
}

.chat .chat-header {
    padding: 0.25rem;
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px
}

.chat .chat-history {
    padding: 20px;
    flex-grow: 1;
}

.chat .chat-history ul {
    padding: 0
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0px
}

.chat .chat-history .message-data {
    margin-bottom: 15px
}

.chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
}

.chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
}

.chat .chat-history .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .my-message {
    background: #efefef
}

.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: right
}

.chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.float-right {
    float: right
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

/* @media only screen and (max-width: 767px) {
    .chat-app .people-list {
        height: 465px;
        width: 100%;
        overflow-x: auto;
        background: #fff;
        left: -400px;
        display: none
    }

    .chat-app .people-list.open {
        left: 0
    }

    .chat-app .chat {
        margin: 0
    }

    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }

    .chat-app .chat-history {
        height: 300px;
        overflow-x: auto
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        height: 650px;
        overflow-x: auto
    }

    .chat-app .chat-history {
        height: 600px;
        overflow-x: auto
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto
    }

    .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto
    }
} */