*,
*::before,
*::after {
  box-sizing: border-box;
  /* Safari */
  -webkit-user-select: none;
  /* Konqueror HTML */
  -khtml-user-select: none;
  /* Firefox */
  -moz-user-select: none;
  /* Internet Explorer/Edge */
  -ms-user-select: none;
  /* Chrome and Opera */
  user-select: none;
}

@font-face {
  font-family: "bootstrap-icons";
  src: url("/fonts/bootstrap-icons.woff2?524846017b983fc8ded9325d94ed40f3") format("woff2"),
    url("/fonts/bootstrap-icons.woff?524846017b983fc8ded9325d94ed40f3") format("woff");
}

button.btn {
  background-color: transparent;
  transition: background-color 0.2s;
}

button.btn:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transition: background-color 0s;
}

button.btn:active {
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0s;
}

.btn-check:focus+.btn,
.btn:focus {
  outline: none;
  box-shadow: none;
}

.nav-link {
  color: #0d6efd;
  background-color: white;
  transition: background-color 0.2s, color 0.2s;
}

button.btn-primary,
a.btn-primary {
  background-color: #0d6efd !important;
  transition: background-color 0.2s;
}

button.btn-primary:hover,
a.btn-primary:hover,
.nav-link:hover {
  color: white;
  background-color: #4d4dff !important;
  transition: background-color 0s, color 0s;
}

button.btn-primary:active,
a.btn-primary:active,
.nav-link:active {
  background-color: hsl(240, 100%, 45%) !important;
  transition: background-color 0s;
}

.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.input-validation-error {
  border-color: #dc3545;
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

input.form-control {
  width: 286px;
  height: 36px !important;
  border-radius: 25px !important;
  border: none;
  align-self: center;
  background-color: rgba(0, 0, 0, .05);
}

input.form-control:focus {
  background-color: rgba(0, 0, 0, .05);
  ;
  border-color: none;
  box-shadow: none;
}

a {
  color: #262626;
  text-decoration: none;
}

a:hover {
  color: #262626;
  text-decoration: underline;
}

a.btn {
  text-decoration: none;
}

.login-logo {
  font-size: 5rem;
  color: #0d6efd;
}

.icon-large {
  font-size: 5rem;
}

.form-switch {
  cursor: pointer;
}

.form-switch .form-check-input {
  height: 22px;
  width: 44px;
}

.modal-content {
  border-radius: 12px;
}

.modal-header {
  display: block;
}

.modal-header,
.modal .modal-footer {
  border: none;
}

.modal-header .btn-close {
  margin: 0;
  text-align: right;
}

.modal-body {
  padding: 1rem;
}

.border-radius-1 {
  border-radius: 1rem;
}

.validation-summary-valid {
  display: none;
}

.validation-summary-errors>ul {
  list-style: none;
  text-align: left;
}

.validation-summary-errors>ul li::before {
  font-family: 'bootstrap-icons';
  content: "\F33B";
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}